body {
  background: #f2f2f2;
  font-family: "PT Sans", sans-serif;
}

body a {
  color: #007f6e;
  text-decoration: underline;
  outline: none;
  webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

body a:hover {
  color: #63a70a;
  text-decoration: none;
}

section .container {
  background: #fff;
}

.text-justify {
  text-align: justify;
}

.btn-teal {
  padding: 17px 5px;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.6px;
  background-color: #007f6e;
  text-transform: uppercase;
}

.btn-teal:hover {
  background: #009d88;
  color: #ffffff;
}

.nsp-header {
  background-color: #fff;
  /* background-color: #f5eff3; */
}

.nsp-main-navigation {
  background: url("../assets/NSP-navbar-background.jpg") no-repeat center center;
  background-size: 100% 100%;
}

.nsp-main-navigation .nav-link {
  color: #fff;
}

.logo-partnership {
  max-width: 180px;
}

.avatar {
  width: 50px;
  height: 50px;
  background-color: rgb(0 0 0 / 13%);
  margin-right: 15px;
  border: 1px solid #00796a;
  background-image: url("../assets/elena-avatar.png");
}

#footer {
  width: 100%;
  background: #107f6e;
  color: #b2ded7;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
}

.footer-social-media {
  background-color: #00594e;
  padding: 17px 0;
}
.nsp-offer ::marker {
  color: #bb94ad;
}

.devider-cyan,
.devider-cyan-green,
.devider-lemon,
.devider-till,
.devider-dark-lemon {
  background-size: 100% 100%;
  height: 30px;
}

.devider-cyan {
  /* border: 10px solid #013c4c; */
  background-image: url("../assets/NSP-navbar-background-cyan.png");
}

.devider-cyan-green {
  /* border: 10px solid #10594e; */
  background-image: url("../assets/NSP-navbar-background.jpg");
}

.devider-lemon {
  /* border: 10px solid #a7ae00; */
  background-image: url("../assets/NSP-navbar-background-yellow.png");
}

.devider-dark-lemon {
  /* border: 10px solid #10594e; */
  background-image: url("../assets/NSP-navbar-background-dark-yellow.png");
}

.devider-till {
  border: 10px solid #4e5a32;
}

.footer-contacts a {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-nav a:hover {
  opacity: 0.8;
}
.nsp-promo .container {
  padding-top: 20px;
}

.nsp-advantages .container,
.nsp-about .container,
.nsp-promo .container {
  padding-bottom: 45px;
}

.check-list {
  list-style: none;
  padding: 0;
}

.check-list li {
  position: relative;
  margin: 0 0 6px;
  padding: 0 0 0 30px;
  color: #000000;
}

.check-list li:before {
  content: "";
  position: absolute;
  left: 4px;
  top: 5px;
  background: url("../assets/bg-2.png") no-repeat;
  width: 15px;
  height: 15px;
}

.btn-close-white {
  color: #fff;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat
}